.presale_root{
    background: rgb(0,0,0);
    height: 100vh;
    width: 100%;
    color:#FFFFFF;
    overflow: scroll;
}

.header-button{
    padding: 9px 20px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 10px rgba(44, 39, 109, 0.1);
    border-radius: 10px;
    cursor: pointer;
    margin-right: 20px;

    p{
      font-family: Montserrat SemiBold;
      font-weight: 600;
      font-size: 18px;
      color: #FFFFFF;
    }
}

.stake-card-action-row{
  display: flex;
  align-items: center;
  margin-top: 20px;

  .stake-card-action-input{
    width: 100%;

    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    outline: none;
    
    .MuiOutlinedInput-input{
      font-family: Montserrat Medium;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      color: rgba(255, 255, 255, 0.6);
      padding: 14px 20px;
    }
    
    .MuiOutlinedInput-notchedOutline{
      border-color: rgba(255, 255, 255, 0.2) !important;
    }
    
    .stake-card-action-input-btn{
      cursor: pointer;
        
      p{
        font-family: Montserrat SemiBold;
        font-weight: 600;
        font-size: 18px;
        color: #FFFFFF;
      }
    }
  } 
  
  .stake-card-tab-panel{
    min-width: 215px;
    margin-left: 10px;

    .stake-card-tab-panel-btn{
      background: rgba(255, 255, 255, 0.2);
      box-shadow: 0px 0px 10px rgba(44, 39, 109, 0.1);
      border-radius: 10px;
      padding: 14px 0px;
      cursor: pointer;
      text-align: center;
  
      p{
        font-family: Montserrat SemiBold;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        color: #FFFFFF;
      }
    }
  }
}

  

.content{
  margin: 10px 10px;
}

.claim-text{
  text-align: center;
}